<div style="width: 640px;height: 493px;position: relative;">
  <!-- <div (click)="onClose()" class="btnClose">X</div> -->
  <img src="../../../../assets/vip_download_banner.jpg" alt="{{ data.name }}" style="width: 100%;height: 360px;">
  <div style="width: 100%;; text-align: center; padding: 10px;margin-bottom: 15px;">
    <p style="margin: 0;">Do you want to download <strong>{{ data.name }}</strong></p>
    <p style="margin: 0;">Please choose quality that you want</p>
  </div>
  <div style="width: 100%; display: flex; justify-content: center;">
    <div (click)="onDownload('mp3-128')" class="btn btn-info"
      style="width: 130px;color: white; cursor: pointer; margin-right: 25px;font-weight: bold;">
      <p style="font-size: 12px;margin: 0;">Standard</p>
      <p style="font-size: 10px;margin: 0;">128 kbps</p>
    </div>
    <div (click)="onDownload('mp3-320')" class="btn btn-info"
      style="width: 130px;color: white; cursor: pointer; margin-right: 25px;font-weight: bold;">
      <p style="font-size: 12px;margin: 0;">High quality</p>
      <p style="font-size: 10px;margin: 0;">320 kbps</p>
    </div>
    <div (click)="onDownload('wav')" class="btn btn-info"
      style="width: 130px;color: white; cursor: pointer;font-weight: bold;">
      <p style="font-size: 12px;margin: 0;">Super quality</p>
      <p style="font-size: 10px;margin: 0;">Lossless</p>
    </div>
  </div>
</div>