.btnClose {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #138496;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.brand {
  width: 100%;
  height: 360px;
  background: #23272c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
}
