<div class="container mt-5" style="display: flex;flex-wrap: wrap;">
  <div (click)="onNavigateToTop100Love()" class="wrap-category">
    <img class="category-img" src="../../../assets/apple-music-note-800x420.jpg" alt="top100Love">
    <div class="back-screen">
    </div>
    <div class="category-name">
      Liked the most
    </div>
  </div>
  <div (click)="onNavigateToTop100Hear()" class="wrap-category">
    <img class="category-img" src="../../../assets/apple-music-note-800x420.jpg" alt="top100Hear">
    <div class="back-screen">
    </div>
    <div class="category-name">
      Hear the most
    </div>
  </div>
</div>