<div class="container" *ngIf="loading" style="display: flex;justify-content: center;align-items: center;">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading">
  <div class="form-group" style="width: 50%; position: relative;">
    <input type="text" class="form-control" placeholder="Search by playlist name" [(ngModel)]="playlistName"
      style="padding-left: 35px;">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
</div>
<div class="container" style="display: flex;flex-wrap: wrap;" *ngIf="!loading">
  <div class="wrap-playlist">
    <div class="create-playlist" (click)="onCreatePlayList()">
      <div style="text-align: center;">
        <mat-icon style="font-size: 100px; width: auto; height: auto;">playlist_add</mat-icon>
        <br>
        <p style="font-size: 20px;">Create new playlist</p>
      </div>
    </div>
  </div>
  <div *ngFor="let playList of playLists | namePipe:playlistName" class="playlist-item">
    <div class="btnDeletePlayList" (click)="onDeletePlayList(playList)">
      <mat-icon mat-list-icon>close</mat-icon>
    </div>
    <div class="btnEditPlayList" (click)="onEditPlayList(playList)">
      <mat-icon mat-list-icon>more_horiz</mat-icon>
    </div>
    <div class="card wrap-card" (click)="onNavigateToSeePlayList(playList)">
      <div class="album-image">
        <img style="height: 200px;" src="{{ '../../../../../assets/apple-music-note-800x420.jpg'  }}"
          class="card-img-top" alt="{{ playList.name }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ playList.name }}</h5>
        <span style="color: gray;" class="card-title">Created by {{ currentUser.username }}</span>
      </div>
    </div>
  </div>
</div>