<div class="popup-comments">
  <div class="header">
    <div class="left-header">
      <h5>Comment</h5>
    </div>
    <div class="right-header">
      <div (click)="onClose()" class="btn btn-secondary close">X</div>
    </div>
  </div>
  <div class="sub-header">
    <div class="left-sub-header">
      <span class="numberComments">{{ formatNumber(data.comments.length)+' Comments' }}</span>
    </div>
    <div class="right-sub-header"></div>
  </div>
  <div class="body">
    <div class="comment mb-4" *ngFor="let comment of data.comments; let i = index;">
      <div class="left-comment">
        <img class="avatar"
          src="{{ comment.user.avatar ? SERVER_URL_IMAGE+comment.user.avatar : '../../../../../../assets/profile-default.jpg' }}"
          alt="{{ comment.user.username }}">
      </div>
      <div class="right-comment">
        <div class="wrap-username-dated">
          <div class="username mr-2">{{comment.user.username}}</div>
          <div class="date">{{ comment.date | timeAgo }}</div>
        </div>
        <div class="wrap-text" *ngIf="indexToEdit !== i || !editMode">{{ comment.text }}</div>
        <form class="wrap-text" *ngIf="indexToEdit === i && editMode">
          <div class="form-group" [formGroup]="editForm">
            <input appAutoFocus (keyup.enter)="onEditSubmit()" type="text" class="form-control"
              placeholder="Write comment" formControlName="text">
            <span class="btnCancel mr-2" (click)="onCancel()">Cancel</span>
            <span class="btnEdit" (click)="onEditSubmit()">Save</span>
          </div>
        </form>
        <div class="wrap-button">
          <div class="btnLike mr-3" (click)="onLikeComment(comment)">
            <mat-icon matTooltip="Like" style="color: #a0a0a0;" mat-list-icon class="mr-2"
              *ngIf="!isReactedComment(comment.liked)">thumb_up</mat-icon>
            <mat-icon matTooltip="Like" color="primary" mat-list-icon class="mr-2"
              *ngIf="isReactedComment(comment.liked)">thumb_up</mat-icon>
            <span style="color: #a0a0a0;">{{ formatNumber(comment.liked.length) }}</span>
          </div>
          <div class="btnUnlike" (click)="onUnlikeComment(comment)">
            <mat-icon matTooltip="Unlike" color="warn" style="color: #a0a0a0;" mat-list-icon class="mr-2"
              *ngIf="!isReactedComment(comment.unliked)">thumb_down
            </mat-icon>
            <mat-icon matTooltip="Unlike" color="warn" color="primary" mat-list-icon class="mr-2"
              *ngIf="isReactedComment(comment.unliked)">thumb_down
            </mat-icon>
            <span style="color: #a0a0a0;">{{ formatNumber(comment.unliked.length) }}</span>
          </div>
        </div>
        <div (click)="onDeleteComment(comment)" class="btnDeleteComment" *ngIf="isMyComment(comment)">
          <mat-icon matTooltip="Delete comment" style="color: #a0a0a0;" mat-list-icon class="mr-2">delete</mat-icon>
        </div>
        <div (click)="onEditComment(comment, i)" class="btnEditComment" *ngIf="isMyComment(comment)">
          <mat-icon matTooltip="Edit comment" style="color: #a0a0a0;" mat-list-icon class="mr-2">edit</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%;height: 120px;"></div>
  <div class="wrap-form">
    <form [formGroup]="signForm" (submit)="onSubmit()">
      <div class="form-group row" style="margin: 0;">
        <div class="col-10" style="padding: 0;">
          <input type="text" class="form-control" placeholder="Write comment" formControlName="text">
        </div>
        <div class="col-2">
          <button [disabled]="signForm.invalid" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>