p {
  margin-bottom: 5px;
}

.listFeatures {
  display: flex;
  width: 966px;
  height: 60px;
  padding: 10px 0;
  border-bottom: 1px solid #e0dcdc;
  .btnPlayAudio {
    height: 40px;
    width: 91px;
    cursor: pointer;
  }
  .btnLikeSong {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .btnAddToPlayList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    cursor: pointer;
  }
  .btnAddToCurrentPlayList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
  }
  .btnDownLoad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    cursor: pointer;
  }
  .btnBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    cursor: pointer;
  }
  .btnComment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    cursor: pointer;
    position: relative;
    .comments {
      position: absolute;
      left: -9px;
      top: 0px;
      background: red;
      color: white;
      font-weight: bold;
      width: 30px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30%;
    }
  }
  .btnAddToPlayList:hover {
    background: #c7c7c7;
  }
  .btnAddToCurrentPlayList:hover {
    background: #c7c7c7;
  }
  .btnLikeSong:hover {
    background: #c7c7c7;
  }
  .btnDownLoad:hover {
    background: #c7c7c7;
  }
  .btnBlock:hover {
    background: #c7c7c7;
  }
  .btnComment:hover {
    background: #c7c7c7;
  }
}

.alertBlock {
  width: 966px;
  padding: 0;
  .wrap-alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-song-info {
  display: flex;
  width: 966px;
  height: 200px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.65);
  .left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 80%;
    padding-left: 15px;
    position: relative;
    .likedUsers {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      .liked-icon {
        color: white;
        font-size: 20px;
        font-weight: bold;
        .like-icon {
          font-size: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .info:hover {
      color: white;
    }
  }
}

.body {
  display: flex;
  width: 966px;
  padding: 10px 0;
  .left-body {
    width: 70%;
    .uploader-block {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #e0dcdc;
      padding: 20px 0;
      display: flex;
      .left-uploader-block {
        width: 75%;
        .wrap-uploader {
          display: flex;
          .uploader-avatar {
            width: 10%;
            cursor: pointer;
          }
          .uploader-info {
            width: 90%;
            padding-left: 10px;
            .uploaderName {
              font-weight: bold;
              margin: 0;
              cursor: pointer;
            }
            .uploaderName:hover {
              color: blue;
            }
          }
        }
      }
      .right-uploader-block {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .buttonFollow {
          width: 120px;
          height: 40px;
          background-color: #efefef;
          border: 1px solid #efefef;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .song-content {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0dcdc;
      .seeMore {
        color: gray;
        cursor: pointer;
      }
      .seeMore:hover {
        color: blue;
      }
      .copy {
        color: gray;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      .copy:hover {
        color: blue;
      }
    }
    .wrap-mv {
      padding-top: 20px;
    }
  }
  .right-body {
    width: 30%;
    padding-left: 20px;
    .favorite-song {
      width: 100%;
      display: flex;
      cursor: pointer;
      .left-favorite-song {
        width: 20%;
      }
      .right-favorite-song {
        width: 80%;
        padding-left: 10px;
      }
    }
    .favorite-song:hover {
      background: #c7c7c7;
    }
  }
}
