<div class="container header-song-info">
  <div class="left">
    <img src="../../../assets/apple-music-note-800x420.jpg" style="width: 100%;height: 100%;"
      alt="{{ selectedSong?.name }}">
  </div>
  <div class="right">
    <h5 style="color: white;" class="mb-3">{{ selectedSong?.name }}</h5>
    <p style="color: #a0a0a0">Album: <span (click)="onSeeAlbumOfUser()" class="info"
        style="cursor: pointer;">{{ selectedSong?.userName }}</span></p>
    <p style="color: #a0a0a0">Artist: <span (click)="onSeeArtistOfSong()" class="info"
        style="cursor: pointer;">{{ artist ? artist.name : '' }}</span>
    </p>
    <p style="color: #a0a0a0;">Category: <span (click)="onSeeCategoryOfSong()" class="info"
        style="cursor: pointer;">{{ category ? category.name : '' }}</span></p>
    <div class="likedUsers">
      <span class="liked-icon">{{ formatNumber(likedUsers)  }}</span>
      <mat-icon class="more-icon like-icon ml-3">
        favorite
      </mat-icon>
    </div>
  </div>
</div>
<div class="container alertBlock" *ngIf="isBlocked">
  <div class="alert alert-secondary wrap-alert-icon" role="alert">
    <mat-icon color="primary" mat-list-icon class="mr-2">lock</mat-icon>
    You have blocked this song
  </div>
</div>
<div class="container listFeatures">
  <div class="btn btn-primary btnPlayAudio">
    <div *ngIf="!isPlay && !isBlocked" style="display: flex;" (click)="openFile()">
      <mat-icon mat-list-icon class="mr-2">play_circle_filled</mat-icon>
      Play
    </div>
    <div *ngIf="isPlay && !isBlocked" style="display: flex;" (click)="stopFile()">
      <mat-icon mat-list-icon>pause</mat-icon>
      Pause
    </div>
    <div *ngIf="isBlocked" style="display: flex;justify-content: center;align-items: center;">
      <mat-icon mat-list-icon>block</mat-icon>
    </div>
  </div>
  <div *ngIf="currentUser && currentUser.username !== 'superadmin'" class="btnLikeSong" (click)="onLikeSong()"
    style="cursor: pointer;">
    <mat-icon matTooltip="UnLike" *ngIf="isLiked()" class="more-icon mr-2" color="primary">
      favorite
    </mat-icon>
    <mat-icon matTooltip="Like" *ngIf="!isLiked()" class="more-icon mr-2" color="primary">
      favorite_border
    </mat-icon>
    Like
  </div>
  <div (click)="onAddSongToPlayList()" class="btnAddToPlayList"
    *ngIf="currentUser && currentUser.username !== 'superadmin'">
    <mat-icon matTooltip="Add to playlist" color="primary" mat-list-icon class="mr-2">queue_music</mat-icon>
    Add to playlist
  </div>
  <div (click)="onDownloadFile()" class="btnDownLoad" *ngIf="currentUser && currentUser.username !== 'superadmin'">
    <mat-icon matTooltip="Download" color="primary" mat-list-icon class="mr-2">cloud_download</mat-icon>
    Download
  </div>
  <div (click)="onBlock()" class="btnBlock" *ngIf="currentUser && currentUser.username !== 'superadmin'">
    <mat-icon matTooltip="Block" color="primary" mat-list-icon class="mr-2" *ngIf="!isBlocked">lock</mat-icon>
    <mat-icon matTooltip="UnBlock" color="primary" mat-list-icon class="mr-2" *ngIf="isBlocked">lock_open</mat-icon>
    <span *ngIf="!isBlocked">Block</span>
    <span *ngIf="isBlocked">UnBlock</span>
  </div>
  <div (click)="onSeeComments()" class="btnComment" *ngIf="currentUser && currentUser.username !== 'superadmin'">
    <mat-icon matTooltip="See comments" color="primary" mat-list-icon class="mr-2">comment</mat-icon>
    Comments
    <span class="comments">{{ formatComments(selectedSong.comments) }}</span>
  </div>
</div>
<div class="container body">
  <div class="left-body">
    <div class="uploader-block" *ngIf="uploader">
      <div class="left-uploader-block">
        <div class="wrap-uploader">
          <div class="uploader-avatar" (click)="navigateToUploader(uploader)">
            <img style="width: 50px; height: 50px; border-radius: 50%;"
              src="{{ uploader.avatar ? SERVER_URL_IMAGE+uploader.avatar : '../../../../../assets/profile-default.jpg' }}"
              alt="{{ uploader.id }}">
          </div>
          <div class="uploader-info">
            <p (click)="navigateToUploader(uploader)" class="uploaderName">{{ uploader.username }}</p>
            <p style="margin: 0;color: #a0a0a0;font-size: 16px;">{{ formatNumber(uploader.followers.length) }} followers
            </p>
          </div>
        </div>
      </div>
      <div class="right-uploader-block" *ngIf="currentUser && currentUser.username !== 'superadmin'">
        <div class="buttonFollow" (click)="follows(uploader)" *ngIf="!isFollowed(uploader)">
          <mat-icon matTooltip="Follow" color="primary" mat-list-icon class="mr-2">person_add</mat-icon>
          Follow
        </div>
        <div class="buttonFollow" (click)="follows(uploader)" *ngIf="isFollowed(uploader)">
          <mat-icon matTooltip="Unfollow" color="primary" mat-list-icon class="mr-2">person_add_disabled</mat-icon>
          Unfollow
        </div>
      </div>
    </div>
    <div class="song-content">
      <h5>Lyrics</h5>
      <p style="color: #a2a2a2; font-size: 14px;" *ngIf="selectedSong.songcontent.status">Approved by admin</p>
      <p style="color: #a2a2a2; font-size: 14px;"
        *ngIf="!selectedSong.songcontent.status && selectedSong.songcontent.detail">Waiting admin approve</p>
      <p style="color: #a2a2a2; font-size: 14px;"
        *ngIf="!selectedSong.songcontent.status && !selectedSong.songcontent.detail">No lyrics</p>
      <br>
      <div style="width: 100%;" *ngIf="selectedSong.songcontent.status">
        <p *ngFor="let text of arrSongContent;let i =index;"
          [ngStyle]="{'margin-bottom': text.trim() === '' ? '50px': '15px'}">
          {{  (i <= 19 || !hideMode) ? text.trim() : '' }} {{ (i === 19 && hideMode) ? '...' : '' }} <span
            class="seeMore" *ngIf="i === 19 && hideMode" (click)="hideMode = false">See more</span>
        </p>
        <span class="seeMore" *ngIf="!hideMode" (click)="hideMode = true">Compact</span>
      </div>
      <br>
      <div (click)="copyLyrics()" class="copy" *ngIf="selectedSong.songcontent.status">
        <mat-icon matTooltip="Copy lyrics" mat-list-icon class="mr-2">filter_none</mat-icon>
        Copy lyrics
      </div>
    </div>
  </div>
  <div class="right-body">
    <div class="header-right-body mb-4">
      <h5>Maybe you are interested</h5>
    </div>
    <div (click)="navigateToSongInfo(song, i)" class="favorite-song mb-4"
      *ngFor="let song of top20FavoriteSongs;let i = index;"
      [ngStyle]="{'background': indexInterested !== -1 && indexInterested === i ? '#b3bfff': ''}">
      <div class="left-favorite-song">
        <img style="width: 100%;height: 100%;" src="../../../assets/apple-music-note-800x420.jpg"
          alt="{{ song?.userName }}">
      </div>
      <div class="right-favorite-song">
        <p style="margin: 0; font-weight: bold;">{{ song?.name }}</p>
        <p style="margin: 0;color: gray;">{{ song?.artist }}</p>
      </div>
    </div>
  </div>
</div>