<div class="container" *ngIf="loading" style="display: flex;justify-content: center;align-items: center;">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading">
  <div class="form-group" style="width: 50%; position: relative;">
    <input type="text" class="form-control" placeholder="Search by category name" [(ngModel)]="categoryName"
      style="padding-left: 35px;">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <table class="table table-striped table-inverse table-bordered table-hover" style="text-align: center;">
    <thead class="thead-inverse">
      <tr>
        <th>Category Name</th>
        <th>Avatar</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories | namePipe:categoryName;let i = index;">
        <td class="td">
          <div class="wrap">{{ category.name }}</div>
        </td>
        <td class="td">
          <div class="wrap">
            <img style="width: 50px;height: 50px;border-radius:50%;"
              src="{{ category.avatar ? category.avatar : '../../../../../assets/apple-music-note-800x420.jpg' }}"
              alt="{{ category.name }}">
          </div>
        </td>
        <td class="td">
          <div class="wrap">
            <button (click)="onEdit(category)" class="btn btn-warning mr-2 btn">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete(category.id,i)" class="btn btn-danger btn">
              <mat-icon mat-list-icon>delete_forever</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>