<mat-list color="primary" style="width: 400px;">
  <div class="songInfo mb-2" style="cursor: pointer;" (click)="onSeeSongInfo()">
    <div class="left">
      <mat-icon class="infoIcon" color="primary" mat-list-icon>info</mat-icon>
    </div>
    <div class="right">
      <p class="songName"><strong>{{ data.name }}</strong></p>
      <div class="likedUsers">
        <mat-icon class="more-icon mr-1" color="primary">
          favorite_border
        </mat-icon>
        <span style="color:#929191;">{{ formatLikedUsers(data.likedUsers.length) }}</span>
      </div>
    </div>
  </div>
  <mat-list-item (click)="downloadFile()" class="feature" style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>cloud_download</mat-icon>
    <h5 style="margin: 0;">Download</h5>
  </mat-list-item>
  <mat-list-item *ngIf="currentUser && currentUser.username !== 'superadmin'" (click)="onBlock()" class="feature"
    style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>lock</mat-icon>
    <h5 style="margin: 0;">Block</h5>
  </mat-list-item>
  <mat-list-item *ngIf="currentUser && currentUser.username !== 'superadmin'" (click)="onAddSongToPlayList()"
    class="feature" style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>queue_music</mat-icon>
    <h5 style="margin: 0;">Add to playlist</h5>
  </mat-list-item>
  <mat-list-item *ngIf="data.temp === 'fromPlayer'" (click)="onAddToCurrentPlaylist()" class="feature"
    style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>queue_music</mat-icon>
    <h5 style="margin: 0;">Add to current playlist</h5>
  </mat-list-item>
  <mat-list-item *ngIf="currentUser && currentUser.username !== 'superadmin' && data.playlistId"
    (click)="onDeleteSongFromPlayList()" class="feature" style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>queue_music</mat-icon>
    <h5 style="margin: 0;">Delete from {{ data.playlistName }}</h5>
  </mat-list-item>
  <mat-list-item *ngIf="data.temp === 'fromPlaylist'" (click)="onDeleteSong()" class="feature"
    style="display: flex;justify-content: left; cursor: pointer;">
    <mat-icon color="primary" mat-list-icon>delete_forever</mat-icon>
    <h5 style="margin: 0;">Delete</h5>
  </mat-list-item>
</mat-list>