<div class="container mt-5">
  <form [formGroup]="signForm" (submit)="onSubmit()">
    <div class="form-group">
      <input [ngClass]="{'is-invalid': signForm.get('username').touched && signForm.get('username').invalid}"
        type="text" class="form-control" placeholder="Username" formControlName="username">
      <span class="invalid-feedback" *ngIf="signForm.get('username').touched && signForm.get('username').invalid">
        <span *ngIf="signForm.get('username').hasError('required')">Username field is required</span>
        <span
          *ngIf="signForm.get('username').hasError('minlength') || signForm.get('username').hasError('maxlength')">Username
          must be between 10 and 30 characters</span>
      </span>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': signForm.get('password').touched && signForm.get('password').invalid}"
        type="password" class="form-control" placeholder="Password" formControlName="password">
      <span class="invalid-feedback" *ngIf="signForm.get('password').touched && signForm.get('password').invalid">
        <span *ngIf="signForm.get('password').hasError('required')">Password field is required</span>
        <span
          *ngIf="signForm.get('password').hasError('minlength') || signForm.get('password').hasError('maxlength')">Password
          must be between 6 and 30 characters</span>
      </span>
    </div>
    <div class="form-group">
      <input
        [ngClass]="{'is-invalid': signForm.get('password2').touched && (signForm.get('password2').invalid || signForm.hasError('misMatch') )}"
        type="password" class="form-control" placeholder="Confirm password" formControlName="password2">
      <div class="invalid-feedback"
        *ngIf="signForm.get('password2').touched && (signForm.get('password2').invalid || signForm.hasError('misMatch') )">
        <p *ngIf="signForm.get('password2').hasError('required')">Password field is required</p>
        <p *ngIf="signForm.hasError('misMatch')">Password must match</p>
      </div>
    </div>
    <button [disabled]="signForm.invalid" class="btn btn-success btn-block">Register</button>
  </form>
</div>