<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a *ngIf="currentUser?.username !== 'superadmin'" class="navbar-brand" [routerLink]="['/']">NK MP3</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngIf="currentUser?.username === 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-categories/upload-category']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">MANGE CATEGORY</a>
        </li>
        <li *ngIf="currentUser?.username === 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-artists/upload-artist']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">MANGE ARTIST</a>
        </li>
        <li *ngIf="currentUser?.username === 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-songs']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">MANGE SONG</a>
        </li>
        <li *ngIf="currentUser?.username === 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-user']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">MANGE USER</a>
        </li>
        <li *ngIf="currentUser?.username === 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/read-song']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">CHECK FILE</a>
        </li>
        <li *ngIf="currentUser && currentUser?.username !== 'superadmin'" class="nav-item">
          <div class="wrap-notification" (click)="onSeeNotifications()">
            <div class="numberNotifications" *ngIf="notifications && getNumberOfNotificationsUnread() > 0">
              <span>{{ getNumberOfNotificationsUnread() }}</span>
            </div>
            <mat-icon matTooltip="My notifications" mat-list-icon class="notification-icon mr-3">notifications_active
            </mat-icon>
          </div>
        </li>
        <li *ngIf="currentUser?.username !== 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/categories']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">CATEGORIES</a>
        </li>
        <li *ngIf="currentUser?.username !== 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/artists']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">ARTISTS</a>
        </li>
        <li *ngIf="currentUser?.username !== 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/top100']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">TOP100</a>
        </li>
        <li *ngIf="currentUser?.username !== 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/albums']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">ALBUM</a>
        </li>
        <li *ngIf="currentUser &&   currentUser?.username !== 'superadmin'" class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard/upload-song']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">DASHBOARD</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a *ngIf="!isAuthenticated" class="nav-link" [routerLink]="['/register']" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }">Register</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a *ngIf="!isAuthenticated" class="nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }">Login</a>
      </li>
    </ul>

    <div class="notify-processing" *ngIf="currentUser && (reupDectected === 1 || reupDectected === 2)">
      Reup: {{ reupDectected }}
      <span class="pulse"></span>
    </div>

    <div class="notify-processing ml-4" *ngIf="queueProcessing > 0">
      Processing: {{ queueProcessing }}
      <span class="pulse"></span>
    </div>

    <div class="dropdown" *ngIf="currentUser">
      <div style="color: white;cursor: pointer;" class="nav-link dropdown-toggle" id="dropdownId" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img style="width: 35px;height: 35px;border-radius: 50%;"
          src="{{ currentUser['avatar'] ? SERVER_URL_IMAGE+currentUser['avatar'] : '../../../assets/profile-default.jpg' }}"
          alt="{{ currentUser['username'] }}">
        Welcome {{currentUser.username}}</div>
      <div class="dropdown-menu" aria-labelledby="dropdownId">
        <!-- <div *ngIf="currentUser?.username === 'superadmin'" (click)="onUploadCateGory()" class="dropdown-item dropItem"
          style="display: flex;align-items: center;">
          <mat-icon mat-list-icon class="mr-2">cloud_upload</mat-icon>Upload category
        </div> -->
        <div *ngIf="currentUser?.username !== 'superadmin'" (click)="onDashBoard()" class="dropdown-item dropItem"
          style="display: flex;align-items: center;">
          <mat-icon mat-list-icon class="mr-2">person</mat-icon>Dashboard
        </div>
        <div (click)="onLogout()" class="dropdown-item dropItem" style="display: flex;align-items: center;">
          <mat-icon mat-list-icon class="mr-2">exit_to_app</mat-icon>Log out
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div style="height: 350px;"></div>
<div class="footer">
  <div class="product-info" *ngIf="!playMode">
    <div class="info">
      <div class="center">
        <h5>NK MP3</h5>
      </div>
    </div>
  </div>
  <app-media-footer *ngIf="playMode"></app-media-footer>
</div>