<div class="container" *ngIf="loading" style="display: flex;justify-content: center;align-items: center;">
  <mat-spinner></mat-spinner>
</div>
<div class="container mt-4" *ngIf="!loading">
  <div class="row">
    <div class="col-6">
      <div class="form-group" style="position: relative;">
        <input type="text" class="form-control" placeholder="Search by name/artist of song"
          [(ngModel)]="filterNameArtist" style="padding-left: 35px;">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
    <div class="col-12">
      <ng-container *ngIf="blockedSongs && blockedSongs.length >0; else elseTemplate1">
        <table class="table table-striped table-inverse table-bordered table-hover" style="text-align: center;">
          <thead class="thead-inverse">
            <tr>
              <th>Song Name</th>
              <th>Artist</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of blockedSongs | songPipe:filterNameArtist; let i = index;">
              <td>{{ song.name }}</td>
              <td>{{ song.artist }}</td>
              <td>
                <button [disabled]="disableMode" class="btn btn-warning mr-2" (click)="onUnblock(song)">
                  <mat-icon mat-list-icon>lock_open</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #elseTemplate1>
        No blocked songs...
      </ng-template>
    </div>
  </div>
</div>