<ng-container *ngIf="listAlbums && listAlbums.length > 0; else elseTemplate">
  <div class="container mt-5" style="display: flex;flex-wrap: wrap;">
    <div (click)="onNavigateToSeeAlbum(album)" *ngFor="let album of listAlbums" class="card wrap-card"
      style="width: 32%; margin-right: 1%; margin-bottom: 2%;cursor: pointer;  background: rgb(228, 228, 228);">
      <div class="album-image">
        <img style="height: 200px;"
          src="{{ album['avatar'] ? SERVER_URL_IMAGE+album['avatar'] : '../../../../../assets/apple-music-note-800x420.jpg'  }}"
          class="card-img-top" alt="{{ album.username }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ album.username }}</h5>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container mt-3">No albums</div>
</ng-template>