<div *ngIf="signForm">
  <div class="row">
    <div class="col-6">
      <table class="table table-striped table-inverse table-bordered table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Artist Name</th>
            <th>Avatar</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artist of artists;let i = index;">
            <td>{{ artist.name }}</td>
            <td>
              <img style="width: 50px;height: 50px;border-radius:50%;"
                src="{{ artist.avatar ? artist.avatar : '../../../../../assets/apple-music-note-800x420.jpg' }}"
                alt="{{ artist.name }}">
            </td>
            <td>
              <button (click)="onEdit(artist)" class="btn btn-warning mr-2">Edit</button>
              <button (click)="onDelete(artist.id,i)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <div class="container">
        <form [formGroup]="signForm" (submit)="onSubmit()">
          <div class="form-group">
            <input [ngClass]="{'is-invalid': signForm.get('name').touched && signForm.get('name').invalid}" type="text"
              class="form-control" placeholder="Artist name" formControlName="name">
            <span class="invalid-feedback" *ngIf="signForm.get('name').touched && signForm.get('name').invalid">
              <span *ngIf="signForm.get('name').hasError('required')">Artist name field is required</span>
            </span>
          </div>
          <div class="form-group">
            <label for="btnFile" class="btn btn-info">Choose image</label>
            <input (change)="onChange($event)" style="display: none;" type="file" class="form-control-file"
              id="btnFile">
            <span
              *ngIf="signForm.get('avatar').value && !signForm.get('avatar').hasError('invalid')">{{ signForm.get('avatar').value.name }}</span>
            <span style="color: red;"
              *ngIf="signForm.get('avatar').value && signForm.get('avatar').hasError('invalid')">File
              is invalid</span>
          </div>
          <button [disabled]="signForm.invalid" class="btn btn-success btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>