<div class="container">
  <div *ngIf="!displayButtonBack" (click)="onBack()" class="btn btn-secondary mt-1 mb-1">Back</div>
  <a *ngIf="displayButtonBack && playlist" [routerLink]="['../']" class="btn btn-secondary mt-1 mb-1">Back</a>
  <mat-toolbar color="primary" class="main-toolbar">
    <span *ngIf="username">Album name: {{ username }}</span>
    <span *ngIf="categoryName">Category name: {{ categoryName }}</span>
    <span *ngIf="artistName">Artist name: {{ artistName }}</span>
    <span *ngIf="playlist">Playlist name : {{ playlist }}</span>
  </mat-toolbar>
  <div class="content" style="display: flex;margin-top: 50px;">
    <div class="logo" style="width: 20%;">
      <mat-icon>music_note</mat-icon>
      <div>{{ this.currentFile?.file?.name }}</div>
    </div>
    <div style="width: 70%;display:flex;justify-content: center;align-items: center;">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <mat-list *ngIf="!loading" color="primary" style="width: 1200px;margin: auto;">
        <h3 mat-subheader>Songs</h3>
        <mat-list-item *ngFor="let file of files; let i = index">
          <mat-icon class="music-icon" (click)="update();openFile(file, i)"
            style="cursor: pointer;background-color: #FF4081;" color="primary" mat-list-icon>music_note
          </mat-icon>
          <h4 mat-line>{{ file.name }}</h4>
          <h5 mat-line>by {{ file.artist }}</h5>
          <mat-icon color="primary" *ngIf="currentFile && currentFile?.index === i && !state?.error">volume_up
          </mat-icon>
          <h6 *ngIf="currentFile && currentFile?.index === i && state?.error">ERROR</h6>
          <mat-icon (click)="onLikeSong(file)" matTooltip="Like"
            *ngIf=" currentUser && currentUser.username !== 'superadmin' && !isLiked(file)" style="cursor: pointer;"
            class="more-icon" color="primary">
            favorite_border
          </mat-icon>
          <mat-icon (click)="onLikeSong(file)" matTooltip="Unlike"
            *ngIf="currentUser && currentUser.username !== 'superadmin' && isLiked(file)" style="cursor: pointer;"
            class="more-icon" color="primary">
            favorite
          </mat-icon>
          <mat-icon (click)="openDialog(file)" style="cursor: pointer;" class="more-icon" color="primary">more_horiz
          </mat-icon>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <!-- <div class="media-footer" *ngIf="playMode" style="position: fixed;bottom: 0;width: 100%">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        {{ state?.readableCurrentTime }}
        <mat-slider
          class="time-slider"
          min="0"
          [max]="state?.duration"
          step="1"
          [value]="state?.currentTime"
          (input)="onSliderChangeEnd($event)"
          [disabled]="state?.error || currentFile.index === undefined"
        ></mat-slider>
        {{ state?.readableDuration }}
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button
          mat-button
          (click)="play()"
          [disabled]="state?.error"
          *ngIf="!state?.playing"
        >
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->
</div>